@*/// ============================================================
/// Author: Shaun Curtis, Cold Elm Coders
/// License: Use And Donate
/// If you use it, donate something to a charity somewhere
/// ============================================================*@

@namespace Blazr.SPA.Components

@inherits InputBase<string>
<div class="input-group">
    <input class="@CssClass" type="text" value="@this.Value" @onchange="this.OnValueChanged" list="@dataListId" @attributes="this.AdditionalAttributes" />
    <div class="input-group-append">
        <div class="@this.ClearCss" @onclick="ClearValue">X</div>
    </div>
</div>

<datalist id="@dataListId">
    @foreach (var option in this._dataList)
    {
        <option value="@option" />
    }
</datalist>
