@*
============================================================
   Author: Shaun Curtis, Cold Elm Coders
   License: Use And Donate
   If you use it, donate something to a charity somewhere
============================================================
*@

@namespace Blazr.Components.BlazrGrid
@inherits BlazrControlBase
@typeparam TGridItem where TGridItem : class, new()

<th class="@this.HeaderCss">
    <div class="dropdown" @onmouseover="@(() => ShowSorting(true))" @onmouseout="@(() => ShowSorting(false))">
            <span class="@SortIconCss"></span>
            <span class="me-1 mr-1">
                @((MarkupString)this.Title)
            </span>
        <ul class="dropdown-menu @showCss " aria-labelledby="dropdownMenuButton2">
            <li class="dropdown-item @GetActive(false)" @onclick="() => this.SortClick(false)">Ascending</li>
            <li class="dropdown-item @GetActive(true)" @onclick="() => this.SortClick(true)">Descending</li>
        </ul>
    </div>
</th>

@code {
}
