@*
    /// ============================================================
    /// Author: Shaun Curtis, Cold Elm Coders
    /// License: Use And Donate
    /// If you use it, donate something to a charity somewhere
    /// ============================================================
*@

@implements IDisposable
@namespace Blazr.App.UI
@inherits AppPagedListForm<DboWeatherLocation, WeatherLocationEntity>

<UIContainer Size=BootstrapSize.Fluid class="@this.ContainerCss">
        <FormViewTitle>
            <h2>List of Weather Locations</h2>
        </FormViewTitle>
        <ListForm ListContext=this.ListContext ListProvider=this.GetPagedItems StateId=this.RouteId>
            @this.HeaderButtonMarkup()
            <UIListControl TRecord=DboWeatherLocation Records=this.Service.Records LoadState=this.loadState class="@this.TableCss">
                <RowTemplate>
                    <UIListColumn HeaderTitle="ID" SortField="WeatherForecastId" NoWrap=true>@context.WeatherLocationId.AsShortGuid()</UIListColumn>
                    <UIListColumn HeaderTitle="Location" SortField="Location" IsMaxColumn=true>@context.Location</UIListColumn>
                    <UIListColumn HeaderTitle="" NoWrap=true class="text-right text-end">
                        @this.RowButtonMarkup(context.WeatherLocationId, true)
                    </UIListColumn>
                </RowTemplate>
            </UIListControl>
        </ListForm>
</UIContainer>
@code {

    protected override void OnInitialized()
    {
        base.OnInitialized();
        ListContext.ListState.SortField = "Location";
        this.ViewControl = typeof(WeatherLocationViewForm);
        this.EditControl = typeof(WeatherLocationEditForm);
    }
}
