@namespace Blazr.App.UI
@inherits ViewerFormBase<Invoice, CustomerEntityService>

<div class="row">

    <div class="col-12 col-lg-6 mb-2">
        <BlazrTextViewControl Label="Invoice No" Value="@this.Presenter.Item.InvoiceNumber" />
    </div>

    <div class="col-12 col-lg-6 mb-2">
        <BlazrTextViewControl Label="Invoice Date" Value="@this.Presenter.Item.InvoiceDate.AsGlobalDate()" />
    </div>

    <div class="col-12 col-lg-6 mb-2">
        <BlazrTextViewControl Label="Customer Name" Value="@this.Presenter.Item.CustomerName" />
    </div>

    <div class="col-12 col-lg-6 mb-2">
        <BlazrTextViewControl Label="Total" Value="@this.Presenter.Item.InvoicePrice.AsSterling()" />
    </div>

    <div class="col-12 col-lg-6 mb-2">
        <BlazrTextViewControl Label="Unique Id" Value="@this.Presenter.Item.Uid" />
    </div>

</div>

@code {
}
