@namespace Blazr.UI
@typeparam TRecord where TRecord : class, new()
@typeparam TEntityService where TEntityService : class, IEntityService
@inherits BlazrControlBase

@code {
    protected override RenderFragment Frame => (__builder) =>
    {
        <PageTitle>@this.formTitle</PageTitle>

        @this.HeaderContent

        <CascadingValue Value=this.Presenter.ListController IsFixed>

            @this.PagingRow
            <BlazrGrid TGridItem="TRecord">
                @this.Body
            </BlazrGrid>

        </CascadingValue>
        <BsModalDialog @ref=modalDialog />
    };

    protected virtual RenderFragment HeaderContent => (__builder) =>
    {
        <div class="d-flex flex-row mb-4 pt-1 pb-2 border-bottom">
            <div class="flex-fill justify-content-start">
                <span class="h3">@this.formTitle</span>
            </div>
            <div class="justify-content-end">
                @this.HeaderButtonContent
            </div>
        </div>
    };

    protected virtual RenderFragment? HeaderButtonContent { get; }

    protected virtual RenderFragment PagingRow => (__builder) =>
    {
        <div class="container-fluid mb-2">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <BlazrPagingControl TRecord="TRecord" DefaultPageSize="20" />
                </div>
            </div>
        </div>
    };
}
