@namespace Blazr.App.UI
@inject ModalService ModalService
<CascadingAuthenticationState>

    <BlazrRouter AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(AuthLayout)">
                <Authorizing><h3>Trying to authorize you.</h3></Authorizing>
                <NotAuthorized><h3>Sorry mate, you can't go here!</h3><h5 class="text-danger"> Try logging in.</h5></NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(AuthLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </BlazrRouter>
</CascadingAuthenticationState>

<BsModalDialog @ref="this.ModalService.ModalDialog"></BsModalDialog>
